/CodeProjectAngularJS/AngularJSApplicationService/bin
/CodeProjectAngularJS/AngularJSApplicationService/obj
/CodeProjectAngularJS/AngularJSDataModels/bin
/CodeProjectAngularJS/AngularJSDataModels/obj
/CodeProjectAngularJS/AngularJSDataService/bin
/CodeProjectAngularJS/AngularJSDataService/obj
/CodeProjectAngularJS/AngularJSDataServiceInterface/bin
/CodeProjectAngularJS/AngularJSDataServiceInterface/obj
/CodeProjectAngularJS/AngularJSTests/bin
/CodeProjectAngularJS/AngularJSTests/obj
/CodeProjectAngularJS/AngularJSUtilities/bin
/CodeProjectAngularJS/AngularJSUtilities/obj
/CodeProjectAngularJS/AngularJSWebApplication/bin
/CodeProjectAngularJS/AngularJSWebApplication/obj
